body{
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}

h1, h2{
    text-align: center;
    color: white;
    box-shadow: 2px;
}

img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    width: 160px;
    border-radius: 30px;

}

.btn{
    width: 150px;
    height: 65px;
}

.btn:hover{
    background-color: rgba(62, 180, 137, 0.2)
}

.second-btn{
    width: 150px;
    height: 65px;
    font-size: 14px
}

hr{
    height: 80px;
    color: white;
    width:50%;
    margin:0 auto;
}